// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

$gray: #000000;
$light-gray: #F4F4F4;

// buttons
$flashier-pink: #D16666;
$flash-pink: #DD8F8F;

// links
$dark-black: #34363C;
$black: #3B3E45;
$light-black: #43454D;

// navbar
$pink-light: #ECC1C1;

// background
$white: #FEFCFC;
