.main-container {
  display: flex;
}

.cocktail-card {
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 3px;
  width: 45vh;
  height: 400px;
  margin: 15px 0;
  color: white;
  padding: 20px;
}

.card-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
